/* 
This is the main stylesheet for all tombluescreen sites

Colours-
Back White-
Back Black-
Front White-
Front Black- */

body {
    font-family: 'DM Sans', sans-serif;
    background-color: rgb(230, 230, 255);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.topnav {
    position: sticky;
    z-index:10;
    
    /* background-color: rgb(25, 41, 255); */
    /* background-image: linear-gradient(to bottom right, rgb(67, 113, 238), rgb(0, 183, 255));; */
    margin: 0 0 0 0;
    padding: 2px 2px 2px 2px;
    top: 0px;
    left: 0px;
    right: 0px;
    
}

.topnav-icon {
    height: 40px;
    
    position:relative;
    
    left: 50%;
    transform: translateX(-50%);
    vertical-align: middle;
    margin: 5px 5px 5px 5px;
    

}



.t-header {

}


#valorant-icon-cont {
    position: absolute;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    left: 25%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transform: translateX(-50%);
    background-image: url('../res/valorant-svg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#valorant-icon {
    display: block;
    height: 100%;
    /* margin: 5px 5px 5px 5px; */
    vertical-align: middle;
}

.project-tile {
    display: grid;
    /* box-shadow: 10px 10px grey; */
    gap: 10px 10px;
    grid-template-columns: min-content auto;
    grid-template-rows: auto 1fr;
    background-image: linear-gradient(to bottom right, rgb(0, 110, 255), rgb(0, 66, 121));;

    /* background-image: linear-gradient(to bottom right, rgb(52, 157, 255), rgb(24, 113, 155));; */
    border-radius: 20px;
    margin: 10px auto 10px auto;;
    padding: 5px 15px 15px 15px;
    min-width: 700px;
    width: 50%;
    
    
}

@media (max-width: 800px) {
    .project-tile {
        width: 90%;
        min-width: fit-content;
    }
}

.common-background {
    background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%);
    color: #f9f9f9ff;
    animation: example 60s ease infinite alternate;
    background-size: 400% 400%;
    
    animation-fill-mode: forwards;
    /* background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(6,65,90,1) 25%, rgba(8,8,110,1) 33%, rgba(9,118,121,1) 39%, rgba(8,147,137,1) 46%, rgba(7,62,156,1) 55%, rgba(6,145,169,1) 61%, rgba(4,122,195,1) 73%, rgba(0,212,255,1) 100%); */
}

#projects-c {
    align-content: center;
    justify-items: center;
    justify-content: center;
    /* background: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%); */
    /* background:linear-gradient(135deg,#1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b); */
}

.good-link:link {
    color:inherit;
    text-decoration: none;
    /* transition: transform 0.1s; */
}

.good-link:visited {
    color:inherit;
    text-decoration: none;
}

.good-link:hover {
    color:inherit;
    text-decoration: none;

    /* transform: scale(101%); /* Causing a wierd firefox bug where the hover would toggle on and off*/
    
    
    
}

.good-link:active {
    color:inherit;
    text-decoration: none;
}

.project-tile > img {
    /* Project Image */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    min-width: 100px;
    min-height: 100px;
    aspect-ratio: 1 / 1;
}

.project-tile > span {
    /* Project Title */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.project-tile > p {
    /* Project Desc */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: rgba(0, 0, 0, 0.664);
}


#links-c {
    
    text-align: center;
    width: 100%;
}

.social-cont {
    display: inline-flex;
    /* background-image: linear-gradient(to bottom right, rgb(255, 119, 28), rgb(230, 219, 77));; */
        /* background-image: linear-gradient(to bottom right, rgb(52, 157, 255), rgb(24, 113, 155));; */
    background-image: linear-gradient(to bottom right, rgb(52, 157, 255), rgb(24, 113, 155));;

    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    padding: 9px 9px 9px 9px;
    justify-content: center;
    justify-items: center;
    align-items: center;   
}


.social-cont > img {
    float:left;
    margin-right: 5px;
}


.social-cont > span {
    float:right;
    vertical-align: middle;

}

.t-header {
    text-align: center;
}



.page-open {
    display:inline-block;
    width:100%;
    /* aspect-ratio:1; */
    padding-top: 50px;
    
     --m:
      /* conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/80px 100% repeat-x; */
      conic-gradient(from 135deg at top   ,#0000,#000 1deg 89deg,#0000 90deg) top   /80px 100% repeat-x;  
    -webkit-mask: var(--m);
            mask: var(--m);
}

.page-break {
    display:inline-block;
    width:100%;
    /* aspect-ratio:1; */
    padding-bottom: 100px;
    
    
    --m:
      conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/80px 100% repeat-x;
      /* conic-gradient(from 135deg at top   ,#0000,#000 1deg 89deg,#0000 90deg) top   /80px 51% repeat-x;  */
    -webkit-mask: var(--m);
            mask: var(--m);
    background-color: green;
}

.page-both {
    display:inline-block;
    position: relative;
    /* z-index:0; */
    width:100%;
    /* aspect-ratio:1; */
    top:-50px;
    padding-bottom: 80px;
    padding-top: 50px;
    margin-top: 0px;
    
    --m:
      conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/80px 51% repeat-x,
      conic-gradient(from 135deg at top   ,#0000,#000 1deg 89deg,#0000 90deg) top   /80px 51% repeat-x; 
    -webkit-mask: var(--m);
            mask: var(--m);
           
    /* background-image: url('../res/share-icon.png'); */
    
    
}

@keyframes example {
    0% {
        background-position: 0% 0%;
    }
    
    100% {
        background-position: 100% 100%;
        
    }
}

.extra-cut-pad-top {
    padding-top: 65px;
}

.extra-cut-pad-bottom {
    padding-bottom: 65px;
}

.in-development {
    color: rgb(255, 196, 0);
    font-style: italic;
}